cfgrib
cloudpickle
dask
distributed
eccodes
fsspec
gcsfs
google-api-core
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-auth
google-cloud-storage
holidays
joblib
jupyter
jupyter-client
jupyter_http_over_ws
kerchunk
keras==2.12.0
matplotlib
mypy
notebook
nrel-pysam
numba
numcodecs
numpy
openpyxl
pandas
plotly
pvlib
pyarrow
requests
responses
scikit-learn
scipy
shap
statsmodels
tables
tensorflow==2.12.0
ujson
xarray
xgboost
zarr
